html {
  color-scheme: dark !important;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: .95em;
  overflow: hidden;
  background: black;
  color: #d8d7d5;
}

canvas {
  border: 1px solid #888;
  image-rendering: pixelated;
  border: none;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0;
  top: 0;
}

input[type="range"],
input[type="number"],
input[type="text"],
input[type="file"] {
  margin: 1px;
}

input[type="number"],
input[type="text"] {
  width: 132px;
}

input[type="range"] {
  width: 140px;
  margin-top: 5px;
}

button,
select {
  appearance: auto;
  display: inline-block;
  width: 140px;
  margin: 1px;
  padding: 2px;
}

.halfWidth {
  display: inline-block;
  width: 140px;
  overflow: hidden;
  /* margin: 2px; */
  /* border: 1px solid #d8d7d5; */
}

.fullwidth {
  width: 290px;
}

.right-dark {
  padding: 15px;
  position: absolute;
  right: 0px;
  /*15px*/
  top: 0px;
  width: 315px;
  height: 100%;
  overflow: scroll;
  background: rgba(255, 255, 255, .7);
  background: rgba(50, 50, 50, .7);
}

button#toggleSettings {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
  transition-property: opacity;
  transition-duration: 500ms;
}

.inactive {
  opacity: 20%;
}

.inactive:hover {
  opacity: 100%;
}

.hidden {
  display: none;
}

h2 {
  margin-block: 1em;
}

.control-group {
  padding: 2px;
}
.control-group>* {
  margin-top: 5px;
}

p {
  margin: 5px;
}