html {
  color-scheme: dark !important;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: .95em;
  overflow: hidden;
  background: black;
  color: #d8d7d5;
}

canvas {
  border: 1px solid #888;
  image-rendering: pixelated;
  border: none;
  position: fixed;
  margin: 0px;
  padding: 0px;
  left: 0;
  top: 0;
}

input:not([type="radio"]) {
  margin: 1px;
  height: 16px;

  &[type="number"] {
    width: 132px;
  }

  &[type="range"] {
    width: 140px;
  }
}

label {
  margin-left: 7px;
  display: inline-block;
  width: calc(100% - 150px);
}

button,
select {
  appearance: auto;
  display: inline-block;
  width: 140px;
  margin: 1px;
  padding: 2px;

  &.fullwidth {
    width: 288px;
  }
}

button:not(.fullwidth) {
  margin-right: 7px;
}

button#toggleSettings {
  width: 50px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 10;
  transition-property: opacity;
  transition-duration: 500ms;

  &.inactive {
    opacity: 20%;

    &:hover {
      opacity: 100%;
    }
  }
}

span.halfWidth {
  display: inline-block;
  width: 140px;
  overflow: hidden;
  margin-right: 7px;
  /* margin: 2px; */
  /* border: 1px solid #d8d7d5; */
}

.warn {
  color: rgb(255, 64, 64);
}

div.right-dark {
  padding: 15px;
  position: absolute;
  right: 0px;
  /*15px*/
  top: 0px;
  width: 320px;
  height: 100%;
  overflow: scroll;
  background: rgba(255, 255, 255, .7);
  background: rgba(50, 50, 50, .7);
}

.hidden {
  display: none;
}

h2 {
  margin-block: 1em;
}

div.control-group {
  padding: 2px;
  user-select: none;

  &>* {
    margin-top: 5px;
  }

  &>div[id$="container"]:not(.radioContainer, .control-group) {
    height: 25px;
  }

  &>div.control-group {
    margin-top: 0px;
  }
}

p {
  margin: 5px;
}

b {
  cursor: default;
  display: block;
  width: 100%;
}